
{{!-- find a way to make a recipe a fav in the db. Then display fav recipes here --}}
{{!-- recipe-info searches for a recipe using the Edamam api  --}}
{{!-- {{> recipe-info}} --}}

<section>
    
  <h2>Create New Recipe</h2>

    <form class="new-ingredient-form">
    <form>
      <div>
        <label for="ingredient-name">Ingredient</label>
      </div>
      <div>
        <input type="text" id="ingredient-name" name="ingredient-name" />
      </div>
    </div>
    <br>
    <button type="submit" class="btn">Add Ingredient</button>
  </form>
<br><br>
  <form class="new-recipe-form">
    <form>
      <div>
        <label for="recipe-title">Title</label>
      </div>
      <div>
        <input type="text" id="recipe-title" name="recipe-title" />
      </div>
    </div>
    <br>
    <div>
      <div>
        <label for="recipe-instructions">Instructions</label>
      </div>
      <div>
        <textarea id="recipe-instructions" name="recipe-instructions"></textarea>
      </div>
    </div>
    <br>
    <button type="submit" class="btn">Create</button>
  </form>

</section>

 {{log recipes}}
 {{!-- {{#if recipes}} --}}
{{#each recipes}}
<div>
  {{title}}
</div>
<div>
  {{instructions}}
</div>
{{#each ingredients}}
{{ingredient}}
{{log ingredient}}
{{/each}}

{{/each}}
{{!-- {{/if}} --}}

 {{!-- {{recipe}}
 {{log recipe.recipe.label}}

    {{#each recipe as |recipes|}}
<div>hello2</div>
    {{log recipes.recipe.image}}
    <div>
    {{log recipes.recipe.label}}
title

    {{recipes.recipe.label}}
      <img src="{{recipes.recipe.image}}" alt="picture of food">
    </div>
    {{/each}} --}}

    
    {{!-- {{/if}} --}}
{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="/javascript/add-ingredient.js"></script>
<script src="/javascript/add-post.js"></script>

