
{{!-- find a way to make a recipe a fav in the db. Then display fav recipes here --}}
{{!-- {{> recipe-info}} --}}

<section>
    
  {{> recipe-info}}

  
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>



 {{!-- {{#if recipe}} --}}
 <div>{{1}}</div>
 {{!-- {{log test}} --}}

   {{#each recipe}}
     {{log 'hello'}}
    <p>hello world</p>
     <p>{{this.recipe.label}}</p>
    {{!-- {{log recipes.recipe.image}} --}}
    {{!-- <div> --}}
    {{!-- {{log recipe.recipe.image}} --}}
    {{!-- {{log this}} --}}
    {{!-- {{log this.recipe.label}} --}}

    
      <img src="{{this.recipe.image}}" alt="picture of food">
    {{!-- </div> --}}

    {{/each}}

    <ul class="recipe_list">
  {{#each recipe}}
    <li>{{this}}</li>
  {{/each}}
</ul>
    {{!-- {{/if}} --}}
{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}


<script src="/javascript/add-post.js"></script>
<script src="/javascript/recipes.js"></script>